<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TANSUAT" value="60" />
    <!--MySQL-->
    <add key="SERVER_KEY_TONGDAI" value="vymY1l17YAgMR25l8ozU6HBGAj2SArrZChwHuxJZwEDd66I22AV+Q2+kOQ5Zi5AhLyvC9W8aWe2VIeXyTgy7CmsmlejO23F0" />

    <!--SQL-->
    <add key="SERVER_KEY" value="P/Q0Uvj90YxJX2YKDge/xXR+Z5B29+gY3UT5u3E2/rXjTf8/vtr/qGAV0a0V1WWTZ672A4qMruJ+E1q208XdIc+y8I53tO5z+zkd4WUGHtvKayn+5S8EnwVspVCrRXKcleZ/Lo8Ae0n0TXuzOpCpBA==" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>